
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Raleway&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body {
  height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, .9);
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;

}

h1 {

}

.h2, h2 {
  font-size: .75rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.h5, h5 {
  font-size: .65rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
  font-weight: 400;
}

p {}

/* Links */
a {
  color: rgba(44, 130, 201, 1);
  text-decoration: none;
  transition: all .3s ease-in-out;
}

a:focus, a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a img {
  transition: all .3s ease-in-out;
}

a:hover img {
  opacity: .7;
}

ul {
  list-style: none;
}

ol {
  margin-top: -.5em;
  padding-left: 25px;
}

ul>li, ol>li {
  position: relative;
  margin-bottom: .5em;
  padding-left: 15px;
  font-size: 95%;
}

img {
  vertical-align: middle;
  border-style: none;
}

:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

.btn-primary {
  padding: .75rem 2rem;
  line-height: 1.4;
  background-color: #347974;
  border-color: #347974;
  border-radius: 3px;
}


.btn-primary:hover {
  background-color: #c36545;
  border-color: #c36545;
}


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #c36545;
  border-color: #c36545;
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-primary {
  background-color: #eaf1f1 !important;
}

.bg-secondary {
  background-color: #6ba6a1 !important;
}

.bg-nav {
  /* background-color: rgba(119, 189, 184, 0.95); */
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
  cursor: pointer;
}

.active-link {
  opacity: .7;
}


.navbar-dark .navbar-brand:hover {
  color: rgba(255, 255, 255, .75);
}

#mobile-nav {
  display: none;
}

a.text-white:hover {
  color: #ea8867 !important;
}

.text-dark {
  color: #333;
}

.text-muted {
  color: #999 !important;
}


footer {
	color: #777;
}

footer p {
  font-size: .875rem;
}

/*----------------------------------
  Banners
------------------------------------*/
.jumbotron {
  position: relative;
  min-height: 300px;
  background-color: rgba(44, 130, 201, 1);
}


.jumbotron-hero {
  min-height: 60vh;
  margin-top: 0;
  background-size: cover;
}

.jumbotron-hero video,
.jumbotron-hero img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  filter: grayscale(.75);
}

.jumbotron .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  z-index: 2;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.jumbotron .carousel, .jumbotron .carousel-item {
  height: 60vh;
}


.jumbotron .carousel-item>img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron .carousel-fade .carousel-item.active {
  transition: transform 2s ease, opacity .7s ease-out;
}



.fade {
  background: rgba(255, 255, 255, .8);
}

.modal-content {
  width: auto;
  margin: 0 auto;
  background: transparent;
  border: none;
}

.modal-header {
  padding: 0;
  border: none !important;
}

.modal-body {
  text-align: center;
}

.modal-body img {
  max-height: 70vh;
}

.close-button {
  position: relative;
  width: 3em;
  height: 3em;
  cursor: pointer;
  float: right;
  margin: -1rem -1rem -1rem auto;
}

.close-button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border: 1em solid rgba(222, 222, 222, 0.9);
  border-radius: 6em;
  transition: all 0.2s ease-in-out;
}

.close_icon {
	position: absolute;
	width: 1.5rem;
	height: 1.5rem;
	top: 0;
	right: 0;
	border: 3px solid;
	border-color: #fff;
	border-radius: 50%;
	line-height: 1.5rem;
  background: rgba(195, 101, 69, 1);
  cursor: pointer;
  transition: all 0.075s ease-in-out;
}
.close_icon:hover {
  background: rgba(195, 101, 69, .7);
}
.close_icon:after {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  content: "x";
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.075s ease-in-out;
}


.close-button.spin:before {
  animation: container_spin_back 0.2s ease-in-out forwards;
}

.close_icon.spin {
  animation: icon_spin_back 0.2s ease-in-out forwards;
}

.close-button.spin:hover:before {
  animation: container_spin 0.2s ease-in-out forwards;
}

.close-button.spin:hover .close_icon.spin {
  animation: icon_spin 0.2s ease-in-out forwards;
}

.close-button.spin:active:before {
  animation: container_spin_double 0.2s ease-in-out forwards;
}

.close-button.spin:active .close_icon.spin {
  animation: icon_spin_double 0.2s ease-in-out forwards;
  border-color: rgba(222, 222, 222, 0.8);
}

.close-button.spin:active .close_icon.spin:after {
  color: rgba(222, 222, 222, 0.8);
}

@keyframes container_spin {
  0% {
    border-color: rgba(100, 100, 100, 0.8);
  }

  50% {
    border-left-width: 0;
    border-right-width: 0;
    border-color: rgba(100, 100, 100, 0.8);
  }

  100% {
    border-color: rgba(0, 0, 0, 0.6);
  }
}

@keyframes container_spin_back {
  0% {
    border-color: rgba(200, 200, 200, 0.6);
  }

  50% {
    border-left-width: 0;
    border-right-width: 0;
    border-color: rgba(200, 200, 200, 0.6);
  }

  100% {
    border-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes container_spin_double {
  0% {
    border-color: rgba(200, 200, 200, 0.6);
  }

  50% {
    border-left-width: 0;
    border-right-width: 0;
    border-color: rgba(200, 200, 200, 0.6);
  }

  100% {
    border-color: rgba(100, 0, 0, 0.8);
  }
}

@keyframes icon_spin {
  50% {
    width: 0;
  }
}

@keyframes icon_spin_back {
  50% {
    width: 0;
  }
}

@keyframes icon_spin_double {
  50% {
    width: 0;
  }
}

#galleryModal {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#galleryModal.modal-content {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  #mobile-nav {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }
  .blobs {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	filter: url(#goo);
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  }
  .box {
  	height: 100px;
  	width: 100%;
  	background: #b3d7ff;
  	box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.075);
  	clip-path: url(#cut);
  	border-radius: 5px;
  	z-index: -1;
  }

  .circle-styles {
  	position: absolute;
  	width: 90px;
  	height: 90px;
  	transform: translate(0, -48px);
  	background: rgba(44, 130, 201, 1);
  	clip-path: circle(42px at center);
  }

  .circle-styles i {
  	font-size: 45px;
    color: rgba(44, 130, 201, .5);
  }
  .circle-styles i.colorchange {
    	color: rgba(44, 130, 201, 1);
  }

  .circle-styles:nth-child(1) span {
  	width: 35px;
  	height: 5px;
  	background: rgb(255, 255, 255);
  	position: absolute;
  	border-radius: 15px;
  }
  .circle-styles:nth-child(1) span:nth-child(2) {
  	transform: rotate(90deg);
  }
  .circle-styles:nth-child(1) {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }

  .first {
  	transition: transform 0.5s 100ms ease-out;
  	background: #b3d7ff;
  }

  .second {
  	transition: transform 0.5s 300ms ease-out;
  	background: #b3d7ff;
  }
  .last {
  	transition: transform 0.5s 500ms ease-out;
  	background: #b3d7ff;
  }
  .first.show {
  	transform: translate(-100px, -120px);
  }
  .second.show {
  	transform: translate(0px, -150px);
  }
  .last.show {
  	transform: translate(100px, -120px);
  }
  .cross {
  	transform-origin: center center;
  	transition: all 0.5s ease-in-out;
  }
  .bg {
  	transition: all 0.4s ease-in-out;
  	width: 100px;
  	height: 100px;
  	position: absolute;
  	border-radius: 100%;
  	transform: scale(0);
  	background: hsla(0, 0%, 100%, 0.459);
  }
  .bg.show {
  	transform: scale(0.7);
  	opacity: 0;
  }

  .cross.show {
  	transform: rotate(45deg);
  }

  .main-circle {
  	z-index: 2;
  }

  .icons {
  	height: 100%;
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  }

  .icons a {
  	font-size: 1rem;
    text-transform: uppercase;
    color: rgba(44, 130, 201, .5);
    padding: 5px 10px;
  	transition: 0.5s ease-out;
  }
  .icons a.colorchange {
  	color: rgba(44, 130, 201, 1);
  }
  .circles i {
  	transition: fill 0.3s ease-out;
  	fill: hsl(0, 0%, 92%);
  }
  .circles:hover svg {
  	fill: hsl(0, 0%, 100%);
  }
  .main-icons {
  	fill: rgb(255, 255, 255);
  	width: 50px;
  	height: 50px;
  }

  .center {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }
  .move-left {
  	transform: translate(-20px, 0px);
  }
  .move-right {
  	transform: translate(20px, 0px);
  }

}

@media only screen and (max-width: 768px) {
  .jumbotron h4 {
  	margin: 0 .5rem;
  }
  .navbar-nav {
  	text-align: right;
  }
  .navbar > .container {
  	align-items: flex-start;
  }
  .navbar-expand-md > .container {
  	height: 100%;
  	position: relative;
  }
  .navbar-collapse {
  	display: flex;
  	flex-direction: column;
  	height: 100%;
  }
}
